<app-navbar></app-navbar>
<section class="w-[80vw] bg-white p-5 py-20 mx-auto flex-col">
<!--CONTENEDOR PRINCIPAL-->
  <div class="p-5 flex flex-row items-center h-[25vh]">
    <div class="w-[60%] h-[20vh] p-10 flex flex-col items-start justify-center">
      <h1 class="py-5 text-6xl font-bold capitalize">Hola, soy Christian.</h1>
      <p class="text-2xl font-semibold">
        Técnico Superior en Desarrollo de Aplicaciones Web y Multiplataforma.
        Desarrollador, Maquetador y Diseñador Web y de Aplicaciones.
      </p>
    </div>
    <div class="w-[40%] h-[20vh] flex items-start justify-center">
      <img
        class="rounded-full shadow-2xl size-50"
        src="https://media.licdn.com/dms/image/v2/D4D35AQGiLTYqYOQZKQ/profile-framedphoto-shrink_200_200/profile-framedphoto-shrink_200_200/0/1719444422572?e=1729512000&v=beta&t=6edYZZcuFVNbtIoLDDf5REl46cbufABWNaZ-OseUjzs"
        alt="Foto de Christian"
      />
    </div>
  </div>
<!--CONTENEDOR ABOUT-->
<div class="h-auto px-14 py-20 w-[70vw]">
    <h2 class="text-2xl font-bold capitalize">Sobre mí</h2>
    <p class="text-l py-5 text-justify">Desarrollador Web con un sólido historial de aprendizaje y una fuerte ambición de adquirir
        nuevos conocimientos en el sector del desarrollo y maquetación de páginas web.
        Experiencia en el diseño, desarrollo y mantenimiento de sitios web dinámicos y funcionales,
        así como en la creación de interfaces de usuario atractivas y accesibles para todo tipo de
        usuarios. En constante aprendizaje de nuevas herramientas y tecnologías en el ámbito de la
        informática y el desarrollo de aplicaciones web, manteniéndome al día con las últimas
        innovaciones. Comprometido con satisfacer las necesidades funcionales del usuario final y
        dispuesto a realizar trabajos colaborativos. Poseo habilidades para resolver problemas de
        manera eficiente y una actitud proactiva para enfrentar desafíos técnicos, asegurando
        siempre la entrega de proyectos de alta calidad dentro de los plazos establecidos,
        satisfaciendo y cumpliendo con las expectativas del usuario final.</p>
</div>
</section>
