<!--<app-navbar></app-navbar>-->
<section class="w-[100vw] md:w-[80vw] lg:w-[70vw] xl:w-[60vw] p-2 mx-auto">
  <!-- CONTENEDOR PRINCIPAL -->
  <div
    class="p-5 flex flex-col md:flex-row items-center justify-center h-auto md:h-[25vh] text-start"
  >
    <div
      class="w-full md:w-[80vw] h-auto p-5 md:p-10 flex flex-col items-start"
    >
      <h1 class="py-5 text-3xl md:text-5xl font-bold capitalize tracking-wide">
        Hola, soy Christian.
      </h1>
      <p class="text-base md:text-xl font-semibold text-start">
        Técnico Superior en Desarrollo de Aplicaciones Web y Multiplataforma.
        Desarrollador, Maquetador y Diseñador Web y de Aplicaciones.
      </p>
    </div>
    <div
      class="w-[50vw] md:w-[30vw] h-auto flex items-center justify-center mt-5 md:mt-0"
    >
      <img
        class="rounded-full border-2 border-black shadow-2xl w-32 md:w-44"
        src="https://media.licdn.com/dms/image/v2/D4D35AQGiLTYqYOQZKQ/profile-framedphoto-shrink_200_200/profile-framedphoto-shrink_200_200/0/1719444422572?e=1729512000&v=beta&t=6edYZZcuFVNbtIoLDDf5REl46cbufABWNaZ-OseUjzs"
        alt="Foto de Christian"
      />
    </div>
  </div>

  <!-- CONTENEDOR ABOUT -->
  <div class="h-auto px-5 md:px-14 py-5">
    <h2 class="text-3xl md:text-4xl font-bold">Sobre Mí</h2>
    <p class="text-base md:text-xl py-5 text-slate-600 text-justify">
      Desarrollador Web con un sólido historial de aprendizaje y una fuerte
      ambición de adquirir nuevos conocimientos en el sector del desarrollo y
      maquetación de páginas web. Experiencia en el diseño, desarrollo y
      mantenimiento de sitios web dinámicos y funcionales, así como en la
      creación de interfaces de usuario atractivas y accesibles para todo tipo
      de usuarios. En constante aprendizaje de nuevas herramientas y tecnologías
      en el ámbito de la informática y el desarrollo de aplicaciones web,
      manteniéndome al día con las últimas innovaciones. Comprometido con
      satisfacer las necesidades funcionales del usuario final y dispuesto a
      realizar trabajos colaborativos. Poseo habilidades para resolver problemas
      de manera eficiente y una actitud proactiva para enfrentar desafíos
      técnicos, asegurando siempre la entrega de proyectos de alta calidad
      dentro de los plazos establecidos, satisfaciendo y cumpliendo con las
      expectativas del usuario final.
    </p>
  </div>

  <!--CONTENEDOR EXPERIENCIA LABORAL-->
  <div class="h-auto px-14">
    <h2 class="text-4xl font-bold py-10">Experiencia Laboral</h2>
    <div class="accordion-group" data-accordion="default-accordion">
      <app-explaboral-acc
        [logo]="'https://www.ibernetcloud.es/imagenes/logo.jpg'"
        [title]="'(Prácticas) Desarrollador Web Full Stack'"
        [area]="'IberNetCloud - Rentdays'"
        [date]="'Mar 2024 - Jun 2024'"
        [location]="'Madrid, Comunidad de Madrid, España'"
        [desc1]="
          'Diseño, maquetación y creación de un portal web inmobiliario similar a Airbnb, Booking, Trivago, entre otros.'
        "
        [desc2]="
          'Experiencia en la gestión de reservas, control de usuarios, registro de inmuebles para ventas y otras funcionalidades. Habilidad en el diseño responsive, asegurando una interfaz accesible y usable para todos los usuarios.'
        "
        [desc3]="
          'Capacidad para gestionar y controlar la disponibilidad de inmuebles mediante fechas u otras acciones, garantizando una administración eficiente de los recursos y una experiencia óptima para el usuario final.'
        "
      ></app-explaboral-acc>
      <app-explaboral-acc
        [logo]="'https://www.tecnoaccesos.com/images/index/CD.jpg'"
        [title]="'(Prácticas) Desarrollador Web Full Stack'"
        [area]="'TEDITEL S.L - Tecnoaccesos'"
        [date]="'Mar 2023 - Jun 2023'"
        [location]="'Vallecas, Comunidad de Madrid, España'"
        [desc1]="
          'Desarrollo y diseño de sitio web responsive, usable y accesible desde distintos dispositivos y funcionales en todos ellos. Sitio web que genera visitas para controlar el acceso a empresas, edificios, etc.'
        "
        [desc2]="
          'Desarrollo de una plataforma web para la gestión de visitas de clientes y usuarios, incluyendo control de accesos y registro de entradas, salidas y otras acciones. Así como registro de códigos QR teniendo el control y la gestión de los accesos en los distintos terminales.'
        "
      ></app-explaboral-acc>
      <app-explaboral-acc
        [logo]="
          'https://media.licdn.com/dms/image/v2/C4D0BAQGJrRviB06sGQ/company-logo_100_100/company-logo_100_100/0/1674471018808/motiva_consulting_s_l__logo?e=1736985600&v=beta&t=4Y1h_ZMcM6BHyYa2mPGlFURsEg0chlWT0d4AFaTWCRY'
        "
        [title]="'(Prácticas) Mantenimiento Sistemas Informáticos y Redes'"
        [area]="'Motiva Consulting, S.L'"
        [date]="'Mar 2021 - Jun 2021'"
        [location]="'Madrid, Comunidad de Madrid, España'"
        [desc1]="
          'Instalación y configuración de sistemas operativos y software. Mantenimiento, montaje y reparación de equipos y sistemas informáticos, garantizando la verificación y comprobación de su correcto funcionamiento.'
        "
        [desc2]="
          'Soporte técnico a usuarios, solucionando incidencias y realizando mantenimiento preventivo para asegurar el óptimo rendimiento de los sistemas.'
        "
        [desc3]="''"
      ></app-explaboral-acc>
    </div>
  </div>

  <!--CONTENEDOR ESTUDIOS-->
  <div class="h-auto px-14">
    <h2 class="text-4xl font-bold py-10">Estudios</h2>
    <ul role="list" class="">
      <app-estudios-list
        [logo]="
          'https://pbs.twimg.com/profile_images/1101916549009547264/8WvjMwp8_400x400.png'
        "
        [title]="'Desarrollo de Aplicaciones Web'"
        [center]="'I.E.S Puig Adam'"
        [date]="'Sep 2023 - Jun 2024'"
        [type]="'Ciclo Formativo Grado Superior'"
      ></app-estudios-list>
      <div class="border-t border-gray-300"></div>

      <app-estudios-list
        [logo]="
          'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT0lyU1mzOzfyC7BdOupW3o4tJAjEjIWCDvjw&s'
        "
        [title]="'Desarrollo de Aplicaciones Multiplataforma'"
        [center]="'Colegio La Inmaculada-Padres Escolapios'"
        [date]="'Sep 2021 - Jun 2023'"
        [type]="'Ciclo Formativo Grado Superior'"
      ></app-estudios-list>

      <div class="border-t border-gray-300"></div>
      <app-estudios-list
        [logo]="
          'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_Xps2RwJdtzWhhMGbcYCKR0x80EA5iIYmzQ&s'
        "
        [title]="'Sistemas Microinformáticos y Redes'"
        [center]="'I.E.S Laguna de Joatzel'"
        [date]="'Sep 2019 - Jun 2021'"
        [type]="'Ciclo Formativo Grado Medio'"
      ></app-estudios-list>
      <div class="border-t border-gray-300"></div>
    </ul>
  </div>

  <!--CONTENEDOR CERTIFICADOS-->
  <div class="h-auto md:px-14">
    <h2 class="text-3xl md:text-4xl font-bold py-5 md:py-10 text-center">
      Certificados
    </h2>
    
    <!-- Contenedor de tarjetas -->
    <div
      class="flex flex-col sm:flex-row items-center sm:items-start justify-around gap-8 flex-wrap"
    >
      <!-- Primera tarjeta -->
      <app-certificado-card
        [img]="
          'https://udemy-certificate.s3.amazonaws.com/image/UC-c2f88cef-7d7f-4a92-801c-b15869b064ec.jpg?v=1725830728000'
        "
        [title]="'Universidad Angular - De Cero a Experto - Angular 18'"
        [desc]="'Descripción de prueba'"
        [url]="
          'https://www.udemy.com/certificate/UC-c2f88cef-7d7f-4a92-801c-b15869b064ec/'
        "
      ></app-certificado-card>
  
      <!-- Segunda tarjeta -->
      <app-certificado-card
        [img]="
          'https://udemy-certificate.s3.amazonaws.com/image/UC-497035ed-855d-47fd-b05b-0bbcab3fa7cd.jpg?v=1724787789000'
        "
        [title]="'Git, GitHub & Markdown Crash Course: Learn Git, GitHub & MD'"
        [desc]="'Descripción de prueba'"
        [url]="
          'https://www.udemy.com/certificate/UC-497035ed-855d-47fd-b05b-0bbcab3fa7cd/?utm_campaign=email&utm_medium=email&utm_source=sendgrid.com'
        "
      ></app-certificado-card>
    </div>
  </div>
  

  <!--CONTENEDOR SKILLS-->
  <div class="h-auto px-14 text-center items-start justify-center">
    <h2 class="text-4xl font-bold tracking-wide py-10">Skills</h2>
    <div class="p-3 h-auto w-auto flex-row">
      <app-skills-button
        [icon]="'fa-brands fa-angular'"
        [name]="'Angular'"
        [color]="'rgb(224, 62, 49)'"
      ></app-skills-button>

      <app-skills-button
        [icon]="'fa-brands fa-react'"
        [name]="'React'"
        [color]="'rgb(0, 122, 255)'"
      ></app-skills-button>

      <app-skills-button
        [icon]="'fa-brands fa-wordpress'"
        [name]="'Wordpress'"
        [color]="'rgb(33, 117, 155)'"
      ></app-skills-button>

      <app-skills-button
        [icon]="'fa-brands fa-html5'"
        [name]="'HTML'"
        [color]="'rgb(227, 76, 38)'"
      ></app-skills-button>

      <app-skills-button
        [icon]="'fa-brands fa-css3-alt'"
        [name]="'CSS'"
        [color]="'rgb(38, 77, 228)'"
      ></app-skills-button>

      <app-skills-button
        [icon]="'fa-brands fa-js'"
        [name]="'JavaScript'"
        [color]="'rgb(204, 163, 0)'"
      ></app-skills-button>

      <app-skills-button
        [icon]="'fa-solid fa-code'"
        [name]="'TypeScript'"
        [color]="'black'"
      ></app-skills-button>

      <app-skills-button
        [icon]="'fa-brands fa-php'"
        [name]="'PHP'"
        [color]="'rgb(79, 93, 149)'"
      ></app-skills-button>

      <app-skills-button
        [icon]="'fa-brands fa-java'"
        [name]="'Java'"
        [color]="'rgb( 170, 64, 25)'"
      ></app-skills-button>

      <app-skills-button
        [icon]="'fa-solid fa-database'"
        [name]="'SQL/MYSQL'"
        [color]="'black'"
      ></app-skills-button>

      <app-skills-button
        [icon]="'fa-solid fa-database'"
        [name]="'Firebase'"
        [color]="'black'"
      ></app-skills-button>

      <app-skills-button
        [icon]="'fa-brands fa-bootstrap'"
        [name]="'Bootstrap'"
        [color]="'rgb( 0, 123, 255)'"
      ></app-skills-button>

      <app-skills-button
        [icon]="'fa-solid fa-code'"
        [name]="'Tailwind'"
        [color]="'black'"
      ></app-skills-button>

      <app-skills-button
        [icon]="'fa-solid fa-code'"
        [name]="'jQuery'"
        [color]="'black'"
      ></app-skills-button>

      <app-skills-button
        [icon]="'fa-brands fa-git'"
        [name]="'Git'"
        [color]="'rgb(240, 80, 50)'"
      ></app-skills-button>

      <app-skills-button
        [icon]="'fa-brands fa-github'"
        [name]="'Github'"
        [color]="'rgb(24, 23, 23)'"
      ></app-skills-button>

      <app-skills-button
        [icon]="'fa-brands fa-figma'"
        [name]="'Figma'"
        [color]="'rgb(242, 78, 30)'"
      ></app-skills-button>

      <app-skills-button
        [icon]="'fa-brands fa-docker'"
        [name]="'Docker'"
        [color]="'rgb(0, 153, 255)'"
      ></app-skills-button>
    </div>
  </div>

  <!--CONTENEDOR CERTIFICADOS-->
  <div class="h-auto px-14 text-center items-start justify-center">
    <h2 class="text-4xl font-bold tracking-wide py-10">
      Mis proyectos más relevantes
    </h2>
  </div>

  <!--CONTENEDOR RECURSOS-->
  <div class="h-auto w-full px-14 text-center items-start justify-center">
    <h2 class="text-4xl font-bold tracking-wide py-10">Contáctame</h2>
    <p class="text-xl tracking-wide mx-5 text-slate-600">
      ¿Quieres hablar o contactar conmigo? Me puedes escribir a mi correo
      <a
      class="text-base md:text-base font-bold text-blue-500 hover:underline cursor-pointer transition-all duration-300 ease-in-out"
      href="mailto:christianmorenodiaz85@gmail.com"
      >christianmorenodiaz85&#64;gmail.com</a
    >    
      (preferiblemente) o bien puedes llamarme a mi numero de teléfono
      <a
        class="font-bold text-blue-500 hover:underline cursor-pointer transition delay-300"
        href=""
        >619 27 66 45</a
      >. Puedes tambien contactarme a través de mi
      <a
        class="font-bold text-blue-500 hover:underline cursor-pointer transition delay-300"
        target="_blank"
        href="https://www.linkedin.com/in/christian-moreno-díaz-109024292/"
        >LinkedIn</a
      >
      y hablar por la red social si lo prefieres.
    </p>
  </div>


</section>
  <!--FOOTER-->
  <app-footer></app-footer>